.button {
    padding: 0.7em 2em;
    border-radius: .25rem;
    background: none;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    transition: background .3s ease,opacity .3s ease,color .3s ease,border-color .3s ease;

    &--primary {
        background: #26b6e8;
    }

    &--right {
        float: right;
    }

    &:hover {
        background: #1387af;
    }
}