.header {
	height: 0;

	&__my-picture {
  		background-image: url('assets/my-picture.jpg');
  		background-position: 45% 5%;
		position: absolute;
	    top: 25vh;
		z-index: 1;

		$height_my_picture: 300px;
		width: $height_my_picture;
		height: $height_my_picture;
	    left: calc(49vw - #{$height_my_picture}/2);

	    &--round {
	    	border-radius: 50%;
	    }
	}

	&__identity {
		z-index: 1;
		text-align: center;
		position: relative;
		top: 60vh;
		color: #20364d;
		font-size: 2.4em;
		text-shadow: 1px 1px;
	}
}