.skills {
	position: relative;
	top: -40px;
	z-index: 1000;
	background: linear-gradient(
		#20364d 0%, 
		#213648 2%, 
		#283a4c 4%, 
		#2f4052 6%, 
		#2e4d6d 8%, 
		#29678e 10%,
		#4892bf 12%, 
		#6dafd8 14%, 
		#e9f1fc 15%, 
		#e9f1fc 100%
	);

	.title {
		position: relative;
		top: 100px;
	}
}

.radar-chart-js {
	position: relative;
	width: 60%;
	top: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
}