.skills {
	position: relative;
	top: -1px;
	height: 100vh;
	width: 100%;
	z-index: 1000;
	background: linear-gradient(
		#20364d 0%, 
		#213648 2%, 
		#283a4c 4%, 
		#2f4052 6%, 
		#2e4d6d 8%, 
		#29678e 10%,
		#4892bf 12%, 
		#6dafd8 14%, 
		#e9f1fc 15%, 
		#e9f1fc 100%
	);

	&__title {
		text-align: center;
		color: #20364d;
		font-size: 2.4em;
		text-shadow: 1px 1px;
		position: relative;
		top: 200px;
	}
}

.radar-chart-js {
	position: relative;
	width: 60%;
	top: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
}